@mixin bloc_mode-emploi {
  box-sizing: border-box;
  height: 35rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center; // avoir les élements des blocs centrés horizontalement
  justify-content: center; // avoir les élements des blocs centrés verticalement
  text-align: center; // pas pris en compte dans le align-item au dessus, commande séparée pour le même résultat
  padding: 1rem;


  p {
    padding: 0rem 1rem;
  }

  h2 {
    padding: 1rem 0rem;
  }

  @media (max-width:1366px) {
    height: 25rem;
    width: 20rem;
    display: flex;
  }
}