@mixin bloc_mode-emploi {
  box-sizing: border-box;
  height: 35rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center; // avoir les élements des blocs centrés horizontalement
  justify-content: center; // avoir les élements des blocs centrés verticalement
  padding: 1rem;
}