body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;


  main {
    margin-top: $margin_header;

    @media (max-width:360px) {
      margin-top: $margin_header_phone;
    }

  }

}