#footer-about {
  background-color: transparent;
}

.footer {
  display: flex;
  justify-content: end; //avoir la liste de liens à droite
  border-top: 1px solid $lightgreen; //barre verte claire au dessu de la nav
  position: fixed; //footer bloqué
  bottom: 0; //footer bloqué en bas
  right: 0;
  left: 0;
  background-color: $primary-color;

  &__copyright {
    color: transparent;
  }

  &__nav {
    padding: 1rem 0em; // permettre un espace au dessus et dessous de la nav

    &__ul {
      font-family: "Roboto";
      list-style-type: none;
      display: flex;
      justify-content: start;
      flex-wrap: wrap; // avoir la liste de liens horizontalement qui déroulent pour version mobile

      & li {
        padding-right: 2rem; //permettre un espace entre chaque lien

        a {
          text-decoration: none;
          color: $darkestgreen;
          font-size: 1.25rem;

          @media (max-width: 1366px) {
            font-size: 1rem;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 700px) {
  .footer {
    flex-direction: column-reverse;

    &__copyright {
      text-align: center;
      color: black;
      font-family: "Montserrat";
      font-size: 1rem;
      margin-top: 1rem;
      padding-left: 1rem;
      font-weight: 500;
      line-height: 2rem;
    }

    &__nav {
      padding-left: 1rem;

      &__ul {
        padding: 0;
        margin: 0;
        justify-content: center;


        & li {
          padding-bottom: 1rem;
          padding-right: 1rem; //permettre un espace entre chaque lien


          & a {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {

  #footer_contact {
    position: relative;
  }

  #footer_index {
    position: relative;
  }

  #footer-about {
    background-color: $primary-color;
  }

  .footer {
    flex-direction: column;

    &__copyright {
      color: black;
      font-family: "Montserrat";
      font-size: 1rem;
      margin-top: 0.5rem;
      padding-left: 1rem;
      font-weight: 500;
      line-height: normal;
      text-align: start;

      .br {
        display: block;
        white-space: wrap;
      }
    }

    &__nav {
      padding-left: 1rem;
      padding-top: 0;
      margin: 0;

      &__ul {
        padding: 0;
        margin: 0;
        justify-content: flex-start;

        & li {
          padding-bottom: 1rem;

          & a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}