.footer {

  display: flex;
  justify-content: end; //avoir la liste de liens à droite
  border-top: 1px solid $lightgreen; //barre verte claire au dessu de la nav
  position: fixed; //footer bloqué
  bottom: 0; //footer bloqué en bas
  right: 0;
  left: 0;

  &__nav {
    padding: 1rem 0em; // permettre un espace au dessus et dessous de la nav

    &__ul {
      font-family: "Roboto";
      list-style-type: none; // enlever les points de liste par défault
      display: flex;
      flex-direction: row; // avoir la liste de liens horizontalement

      & li {
        padding-right: 2rem; //permettre un espace entre chaque lien

        a {
          text-decoration: none; //enlever les sous titres par défault
          color: $darkestgreen; //couleur du texte en vert foncé
          font-size: 1.5rem;

          @media(max-width: 1366px) {
            font-size: 1rem;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}