.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid lightgray;

  &__logo {
    img {
      width: 8em;
      padding: 0em 3em;
    }
  }

  &__nav {
    &__ul {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      list-style: none;
      gap: 30px;

      a {
        text-decoration: none;
        color: $darkestgreen;
        font-family: "Roboto";
        font-size: 18px;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
