.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid lightgray;


  @media(max-width: 360px) {
    border: 1px solid blue;
    position: relative;
  }



  &__logo {
    img {
      width: 8rem;
      padding: 0em 3em;

      @media(max-width: 360px) {
        padding-left: 1rem;
      }
    }
  }

  &__nav {

    @media(max-width: 360px) {
      display: none;
    }


    &__ul {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      list-style: none;
      gap: 30px;

      a {
        text-decoration: none;
        color: $darkestgreen;
        font-family: "Roboto";
        font-size: 18px;
      }

      a:hover {
        text-decoration: underline;
        font-weight: 400;
      }
    }
  }
}