.header {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid lightgray;

  &__logo {
    img {
      width: 8em;
      padding: 0em 3em;
    }
  }

  &__nav {
    &__ul {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      list-style: none;
      gap: 50px;

      a {
        text-decoration: none;
        color: $darkestgreen;
        font-family: "Roboto";
        font-weight: bold;
      }
    }
  }
}
