.btn__commencer {
  background: linear-gradient(
    45deg,
    $lightestgreen,
    $darkgreen
  ); /* Dégradé linéaire avec deux couleurs */
  color: $primary-color;
  padding: 0rem 2rem;
  border: none;
  border-radius: 45px;
  cursor: default;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  transition: background 0.5s ease;
  box-shadow: 0 8px 6px rgba(0, 128, 0, 0.3); /* Ombre autour du bouton */

  &:hover {
    background: $darkestgreen; /* Couleur de fond lors du survol */
    box-shadow: 0 6px 10px rgba(0, 128, 0, 0.7); /* Ombre plus prononcée lors du survol */
  }
}

.btn__savoir {
  background-color: $primary-color; /* Dégradé linéaire avec deux couleurs */
  color: $darkgreen;
  padding: 0rem 2rem;
  border: 2px solid $darkgreen;
  border-radius: 45px;
  cursor: default;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;

  &:hover {
    background: $darkestgreen; /* Couleur de fond lors du survol */
    box-shadow: 0 6px 10px rgba(0, 128, 0, 0.3); /* Ombre plus prononcée lors du survol */
    color: $primary-color; /* Couleur du texte lors du survol */
  }
}

@media (max-width: 360px) {
  .btn__commencer {
    padding: 1rem 1rem;
    font-size: 22px;
  }
  .btn__savoir {
    padding: 1rem 1rem;
    font-size: 22px;
  }
}

@media (min-width: 361px) and (max-width: 769px) {
  .btn__commencer {
    border-radius: 40px;
    padding: 1.5rem 4rem;
    font-size: 25px;
  }
  .btn__savoir {
    border-radius: 40px;
    padding: 1.5rem 4rem;
    font-size: 25px;
  }
}

@media (min-width: 1920px) and (max-width: 3340px) {
  .btn__commencer {
    border-radius: 45px;
    padding: 1rem;
    font-size: 26px;
  }
  .btn__savoir {
    border-radius: 45px;
    padding: 1rem;
    font-size: 26px;
  }
}

@media (min-width: 3330px) {
  .btn__commencer {
    padding: 3rem;
    font-size: 40px;
    border-radius: 80px;
    box-shadow: 0 20px 15px rgba(0, 128, 0, 0.4);
  }
  .btn__savoir {
    padding: 3rem;
    font-size: 40px;
    border-radius: 80px;
    &:hover {
      box-shadow: 0 15px 25px rgba(0, 128, 0, 0.4); /* Ombre plus prononcée lors du survol */
    }
  }
}
