.previous-bloc,
.next-bloc {
  cursor: pointer;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: $lightgreen;
}

.previous-bloc {
  left: 2rem;
}

.next-bloc {
  right: 2rem;
}

.slide-dot {
  position: absolute;
  left: 50%;
  bottom: 0.75em;
  margin: 0;
  padding: 0;
  z-index: 3;
  transform: translateX(-50%);
}

.dot_scndpage {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.25rem;
  background-color: $darkestgreen;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  opacity: 0.5;

}

.dot_scndpage.active {
  background-color: $darkestgreen;
  opacity: 1;
}



@media(min-width:769px) {

  .previous-bloc,
  .next-bloc,
  .slide-dot {
    display: none;
  }
}