.previous-bloc,
.next-bloc {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  transition: background-color 0.6s ease;
  z-index: 3;
  color: $lightgreen;
}



.prev {
  left: 90px;
}

.next {
  right: 15px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}


.slide-dot {
  text-align: center;
  margin: 0;
  padding: 0;
}

.dot_scndpage {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: $darkestgreen;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}



@media(max-width: 1920px) and (min-width:1366px) {

  .previous-bloc,
  .next-bloc,
  .slide-dot {
    display: none;
  }

}