.contact-page {
    position: relative;
    overflow-x: hidden;

    .title-container {
        text-align: center;
        margin-top: 60px;

        h1, h2 {
            color: black;
            font-size: 3rem;
            margin: 0;
        }
    }

    .container {
        background: rgb(255, 255, 255);
        backdrop-filter: blur(10px);
        padding: 80px;
        border-radius: 30px;
        box-shadow: 15px 15px 30px rgb(219, 218, 218), -15px -15px 30px rgba(255, 255, 255, 0.9), inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9);
        border: 2px solid white;
        width: 900px;
        height: auto;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
        margin-top: 20px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .form-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .form-column {
                width: 40%;
                margin: 0 20px;

                label {
                    display: block;
                    margin-bottom: 10px;
                    color: black;
                    text-align: left;
                    font-size: 1.2em;
                }

                input {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.707);
                    backdrop-filter: blur(10px);
                    box-shadow: inset 5px 5px 10px rgba(207, 206, 206, 0.99), inset -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.9);
                    border-bottom: 2px solid $border-color;

                    &::placeholder {
                        color: $placeholder-color;
                        font-size: 1.2em;
                    }

                    &:hover {
                        box-shadow: inset 10px 10px 20px #f4f4f4, inset -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 30px rgba(0, 0, 0, 0.2), -10px -10px 30px rgba(255, 255, 255, 0.9);
                    }
                }
            }

            &.message-group {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                label {
                    width: auto;
                    margin-bottom: 10px;
                    font-size: 1.2em;
                    margin-left: 10px;
                }

                textarea {
                    width: calc(100% - 180px);
                    padding: 10px;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 4px;
                    height: 100px;
                    resize: vertical;
                    background: rgb(255, 255, 255);
                    backdrop-filter: blur(10px);
                    box-shadow: inset 5px 5px 10px rgba(251, 249, 249, 0.974), inset -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.9);
                    border-bottom: 2px solid $border-color;

                    &::placeholder {
                        color: white;
                        font-size: 1.2em;
                    }

                    &:hover {
                        box-shadow: inset 10px 10px 20px rgba(231, 230, 230, 0.978), inset -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 30px rgba(0, 0, 0, 0.2), -10px -10px 30px rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }

        .submit-btn-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            margin-right: 40px;
            margin-bottom: -20px;

            #open-popup-btn {
                background: linear-gradient(45deg, $lightestgreen, $darkgreen);
                color: $primary-color;
                padding: 12px 25px;
                border: none;
                border-radius: 30px;
                cursor: pointer;
                font-size: 18px;
                transition: background 0.5s ease, box-shadow 0.5s ease;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3), -10px -10px 20px rgba(255, 255, 255, 0.9), inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9);

                &:hover {
                    background: $darkestgreen;
                    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2), -15px -15px 30px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9);
                }
            }
        }

        .result {
            margin-top: 20px;
            color: black;
            font-size: 18px;
        }
    }

    .image {
        position: absolute;
        pointer-events: none;

        &.top-left {
            top: 60px;
            left: 220px;
            background-image: url('/img/Groupe27.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 300px;
            height: 300px;
        }

        &.bottom-left {
            bottom: 120px;
            left: 180px;
            background-image: url('/img/TracÔÇÜ76.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 290px;
            height: 290px;
        }

        &.bottom-right {
            bottom: 160px;
            right: 200px;
            background-image: url('/img/TracÔÇÜ69.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 320px;
            height: 320px;
        }

        &.top-right {
            top: 100px;
            right: 290px;
            background-image: url('/img/Ellipse 61(1).svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 200px;
            z-index: 2;
        }

        &.top-right2 {
            top: 70px;
            right: 160px;
            background-image: url('/img/Ellipse 62.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 120px;
            height: 95px;
        }

        &.top-right3 {
            top: 180px;
            right: 190px;
            background-image: url('/img/Ellipse 63.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
        }
    }

    .bottom-border {
        border: none;
        border-bottom: 2px solid $border-color;
        color: grayscale(50%);
    }

    .bottom-border::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(45deg, $lightestgreen, $darkgreen);
        filter: grayscale(100%);
    }

    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      padding: 20px;
      border-radius: 20px;
      z-index: 999;
      width: 100%;
      max-width: 500px;
      text-align: center;
      box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1), -20px -20px 60px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9);
      border: 4px solid $lightestgreen;
    }

    #result-message {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .close-popup {
      background: linear-gradient(45deg, $lightestgreen, $darkgreen);
      color: $primary-color;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-size: 16px;
      transition: background 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.9), inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9);

      &:hover {
        background: $darkestgreen;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2), -15px -15px 30px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9);
        border-color: $darkgreen;
      }
    }

    .header__burger {
        display: none;
        cursor: pointer;

        .burger-icon {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
                width: 100%;
                height: 3px;
                background-color: black;
            }
        }
    }

    @media (max-width: 1366px) {
        .container {
            width: 80%;
            padding: 40px;
        }

        .image {
            display: none !important;
        }
    }

    @media (max-width: 768px) {
        .container {
            width: 90%;
            padding: 20px;
        }

        .form-group {
            flex-direction: column;
            align-items: flex-start;

            .form-column {
                width: 100%;
                margin: 0;
            }
        }

        .header__nav {
            display: none;
        }

        .header__burger {
            display: block;
        }

        .header__nav.active {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            z-index: 1000;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    margin: 10px 0;
                }
            }
        }

        .image {
            display: none !important;
        }
    }

    @media (max-width: 360px) {
        .container {
            width: 100%;
            padding: 10px;
        }

        .header__nav {
            display: none;
        }

        .header__burger {
            display: block;
        }

        .header__nav.active {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: white;
            z-index: 1000;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;

                li {
                    margin: 10px 0;
                }
            }
        }

        .image {
            display: none !important;
        }
    }
}
