$primary-color: #ffffff; // Exemple de couleur primaire
$lightestgreen: #a3e063; // Exemple de couleur verte claire
$darkgreen: #6cbb4a; // Exemple de couleur verte foncée
$darkestgreen: #4a8c39; // Exemple de couleur verte très foncée
$placeholder-color: rgba(0, 0, 0, 0.4); // Couleur grise avec opacité pour les placeholders
$border-color: rgba(0, 0, 0, 0.2); // Couleur grise avec opacité pour les bordures

.contact-page {
    position: relative;
    overflow-x: hidden; // Empêche le défilement horizontal

    .title-container {
        text-align: center;
        margin-top: 60px;

        h1, h2 {
            color: black;
            font-size: 3rem;
            margin: 0;
        }
    }

    .container {
        background: rgba(255, 255, 255, 0.1); // Fond translucide
        backdrop-filter: blur(10px); // Flou de l'arrière-plan
        padding: 80px; // Augmente les marges intérieures
        border-radius: 30px;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.1), -15px -15px 30px rgba(255, 255, 255, 0.9), inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé
        border: 2px solid $lightestgreen; // Bordure verte claire
        width: 900px;
        height: auto; // Ajuste la hauteur automatiquement
        text-align: center;
        margin: 0 auto; // Centre le conteneur horizontalement
        margin-bottom: 60px; // Réduit la marge en bas de l'encadré du formulaire
        margin-top: 20px;
        position: relative; // Permet le positionnement absolu des images
        z-index: 1; // Assurez-vous que le conteneur est au-dessus des images
        overflow: hidden; // Empêche les éléments de déborder du conteneur

        .form-group {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px; // Augmente la marge entre les groupes de champs

            .form-column {
                width: 40%; // Réduit la largeur des colonnes
                margin: 0 20px; // Augmente les marges entre les colonnes

                label {
                    display: block;
                    margin-bottom: 10px;
                    color: black;
                    text-align: left;
                    font-size: 1.2em; // Augmente légèrement la taille de l'écriture des labels
                }

                input {
                    width: 100%;
                    padding: 10px;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 0.1); // Fond translucide
                    backdrop-filter: blur(10px); // Flou de l'arrière-plan
                    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé
                    border-bottom: 2px solid $border-color; // Bordure inférieure grise avec opacité

                    &::placeholder {
                        color: $placeholder-color; // Couleur grise avec opacité pour les placeholders
                        font-size: 1.2em; // Augmente légèrement la taille de l'écriture des placeholders
                    }

                    &:hover {
                        box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.2), inset -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 30px rgba(0, 0, 0, 0.2), -10px -10px 30px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé au survol
                    }
                }
            }

            &.message-group {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                label {
                    width: auto;
                    margin-bottom: 10px;
                    font-size: 1.2em; // Augmente légèrement la taille de l'écriture des labels
                    margin-left: 10px; // Déplace légèrement le label vers la droite
                }

                textarea {
                    width: 85%; // Augmente la longueur du textarea
                    padding: 10px;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 4px;
                    height: 100px;
                    resize: vertical;
                    background: rgba(255, 255, 255, 0.1); // Fond translucide
                    backdrop-filter: blur(10px); // Flou de l'arrière-plan
                    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9), 5px 5px 15px rgba(0, 0, 0, 0.1), -5px -5px 15px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé
                    border-bottom: 2px solid $border-color; // Bordure inférieure grise avec opacité

                    &::placeholder {
                        color: $placeholder-color; // Couleur grise avec opacité pour les placeholders
                        font-size: 1.2em; // Augmente légèrement la taille de l'écriture des placeholders
                    }

                    &:hover {
                        box-shadow: inset 10px 10px 20px rgba(0, 0, 0, 0.2), inset -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 30px rgba(0, 0, 0, 0.2), -10px -10px 30px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé au survol
                    }
                }
            }
        }

        .submit-btn-container {
            display: flex;
            justify-content: flex-end; // Aligne le bouton à droite
            margin-top: 20px; // Ajoute une marge en haut pour l'alignement
            margin-right: 40px; // Déplace le bouton légèrement vers la gauche
            margin-bottom: -20px; // Réduit l'espace en dessous du bouton

            #open-popup-btn {
                background: linear-gradient(45deg, $lightestgreen, $darkgreen); /* Dégradé linéaire avec deux couleurs */
                color: $primary-color;
                padding: 12px 25px; // Augmente légèrement la taille du bouton
                border: none;
                border-radius: 30px;
                cursor: pointer;
                font-size: 18px; // Augmente légèrement la taille de la police du bouton
                transition: background 0.5s ease, box-shadow 0.5s ease;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.9), inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé

                &:hover {
                    background: $darkestgreen; /* Couleur de fond lors du survol */
                    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2), -15px -15px 30px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé
                }
            }
        }

        .result {
            margin-top: 20px;
            color: black;
            font-size: 18px;
        }
    }

    // Modification des images placées dans les coins
    .image {
        position: absolute;
        pointer-events: none; // Permet de cliquer à travers l'image
        z-index: 0; // Assurez-vous que l'image est derrière le formulaire

        // Positionner les images à l'extérieur du formulaire
        &.top-left {
            top: 60px; // Ajuster pour l'aligner à l'extérieur du coin supérieur gauche
            left: 200px; // Ajuster pour l'aligner à l'extérieur du coin supérieur gauche
            background-image: url('/img/Groupe27.svg'); // URL de l'image pour le coin supérieur gauche
            background-size: contain;
            background-repeat: no-repeat;
            width: 380px;
            height: 360px;
        }

        &.bottom-left {
            bottom: 120px; // Ajuster pour l'aligner à l'extérieur du coin inférieur gauche
            left: 190px; // Ajuster pour l'aligner à l'extérieur du coin inférieur gauche
            background-image: url('/img/TracÔÇÜ76.svg'); // URL de l'image pour le coin inférieur gauche
            background-size: contain;
            background-repeat: no-repeat;
            width: 320px;
            height: 320px;
        }

        &.bottom-right {
            bottom: 100px; // Ajuster pour l'aligner à l'extérieur du coin inférieur droit
            right: 200px; // Ajuster pour l'aligner à l'extérieur du coin inférieur droit
            background-image: url('/img/TracÔÇÜ69.svg'); // URL de l'image pour le coin inférieur droit
            background-size: contain;
            background-repeat: no-repeat;
            width: 360px;
            height: 360px;
        }

        &.top-right {
            top: 110px; // Ajuster pour l'aligner à l'extérieur du coin supérieur droit
            right: 340px; // Ajuster pour l'aligner à l'extérieur du coin supérieur droit
            background-image: url('/img/Ellipse 61(1).svg'); // URL de l'image pour le coin supérieur droit
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 250px;
        }

&.top-right2 {
            top: 60px; // Ajuster pour l'aligner à l'extérieur du coin supérieur droit
            right: 160px; // Ajuster pour l'aligner à l'extérieur du coin supérieur droit
            background-image: url('/img/Ellipse 62.svg'); // URL de l'image pour le coin supérieur droit
            background-size: contain;
            background-repeat: no-repeat;
            width: 120px;
            height: 150px;
        }

        &.top-right3 {
            top: 200px; // Ajuster pour l'aligner à l'extérieur du coin supérieur droit
            right: 170px; // Ajuster pour l'aligner à l'extérieur du coin supérieur droit
            background-image: url('/img/Ellipse 63.svg'); // URL de l'image pour le coin supérieur droit
            background-size: contain;
            background-repeat: no-repeat;
            width: 90px;
            height: 150px;
        }




    }

    /* Style pour les champs de texte avec bordure en bas */
    .bottom-border {
        border: none; /* Supprime toutes les bordures */
        border-bottom: 2px solid $border-color; /* Ajoute une bordure en bas */
        color: grayscale(50%);
    }

    /* Pseudo-élément pour la bordure en bas avec grayscale */
    .bottom-border::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px; /* Réglez la hauteur de la bordure ici */
        background: linear-gradient(45deg, $lightestgreen, $darkgreen); /* Dégradé linéaire avec deux couleurs */
        filter: grayscale(100%); /* Applique le filtre grayscale */
    }

    /* Style pour la popup */
    .popup {
      display: none; /* Masqué par défaut */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.1); // Fond translucide
      backdrop-filter: blur(10px); // Flou de l'arrière-plan
      padding: 20px;
      border-radius: 20px;
      z-index: 999;
      width: 100%; /* Ajuste la largeur à 100% */
      max-width: 500px; /* Largeur maximale pour ne pas dépasser de l'écran */
      text-align: center;
      box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1), -20px -20px 60px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé
      border: 4px solid $lightestgreen; /* Bordure verte */
    }

    #result-message {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .close-popup {
      background: linear-gradient(45deg, $lightestgreen, $darkgreen); /* Dégradé linéaire */
      color: $primary-color;
      padding: 10px 20px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-size: 16px;
      transition: background 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.9), inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé

      &:hover {
        background: $darkestgreen; /* Couleur de fond lors du survol */
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2), -15px -15px 30px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9); // Effet néumorphisme avancé
        border-color: $darkgreen; /* Bordure verte plus foncée au survol */
      }
    }
}
