.contact-page {
    position: relative;
    overflow-x: hidden;

    .title-container {
        text-align: center;
        margin-top: 60px;

        h1,
        h2 {
            font-size: 3rem;
            margin: 0;
        }
    }

    .container {
        font-family: "Montserrat";
        background: $primary-color;
        padding: 50px 100px;
        border-radius: 30px;
        box-shadow: 0px 0px 15px 1px lightgrey;
        width: 900px;
        height: auto;
        text-align: center;
        margin: 2rem auto 0rem auto;
        z-index: 1;
        overflow: hidden;

        .form-group {
            display: flex;
            justify-content: space-between;

            .form-column {
                width: 40%;
                margin: 0 20px 50px 20px;

                label {
                    display: block;
                    margin-bottom: 10px;
                    text-align: left;
                    font-size: 1.3em;
                }

                input {
                    width: 100%;
                    padding: 10px 10px 10px 0px;
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 4px;
                    border-bottom: 2px solid $border-color;

                    &::placeholder {
                        color: $placeholder-color;
                        font-size: 1.4rem;
                    }

                }
            }

            &.message-group {
                flex-direction: column;
                align-items: flex-start;
                width: 96%;
                margin: 0rem 1rem;
                padding: 0;

                label {
                    margin-bottom: 10px;
                    font-size: 1.3em;
                }

                textarea {
                    border-bottom: 2px solid $border-color;
                    ;

                    border-top: none;
                    border-left: none;
                    border-right: none;
                    margin-bottom: 2rem;
                    border-radius: 4px;
                    height: 3rem;
                    width: 100%;

                    &::placeholder {
                        color: $placeholder-color;
                        font-size: 1.4rem;
                        font-family: "Montserrat";
                    }
                }
            }
        }

        .submit-btn-container {
            display: flex;
            justify-content: flex-end;
        }
    }

    .image {
        position: absolute;
        pointer-events: none;

        &.top-left {
            top: 5rem;
            left: 10rem;
            background-image: url('/img/Groupe27.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 25rem;
            height: 25rem;
            z-index: -2;
        }

        &.bottom-left {
            bottom: 0;
            left: 7rem;
            background-image: url('/img/TracÔÇÜ76.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 25rem;
            height: 25rem;
            z-index: -1;
        }

        &.bottom-right {
            bottom: 2rem;
            right: 10rem;
            background-image: url('/img/TracÔÇÜ69.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 25rem;
            height: 25rem;
            z-index: -4;
        }

        &.top-right {
            top: 100px;
            right: 290px;
            background-image: url('/img/Ellipse 61(1).svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 200px;
            height: 200px;
            z-index: 2;
        }

        &.top-right2 {
            top: 70px;
            right: 160px;
            background-image: url('/img/Ellipse 62.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 120px;
            height: 95px;
        }

        &.top-right3 {
            top: 180px;
            right: 190px;
            background-image: url('/img/Ellipse 63.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
        }
    }

    .bottom-border {
        border: none;
        border-bottom: 2px solid $border-color;
        color: $border-color;
    }

    .bottom-border::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(45deg, $lightestgreen, $darkgreen);
        filter: grayscale(100%);
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 20px;
        z-index: 999;
        width: 100%;
        max-width: 500px;
        text-align: center;
        box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1), -20px -20px 60px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9);
        border: 4px solid rgb(255, 255, 255, 0.3);
    }

    #result-message {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .close-popup {
        background: linear-gradient(45deg, $lightestgreen, $darkgreen);
        color: $primary-color;
        padding: 10px 20px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        transition: background 0.5s ease, box-shadow 0.5s ease, border-color 0.5s ease;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1), -10px -10px 20px rgba(255, 255, 255, 0.9), inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.9);

        &:hover {
            background: $darkestgreen;
            box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2), -15px -15px 30px rgba(255, 255, 255, 0.9), inset 10px 10px 20px rgba(0, 0, 0, 0.1), inset -10px -10px 20px rgba(255, 255, 255, 0.9);
            border-color: $darkgreen;
        }
    }
}

/* .header__burger {
        display: none;
        cursor: pointer;

        .burger-icon {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
                width: 100%;
                height: 3px;
                background-color: black;
            }
        }
    }
*/


@media (max-width: 1366px) {
    .contact-page {
        .title-container {
            margin-top: 0.5rem;
        }

        .container {
            width: 70%;
            padding: 40px;
            padding-bottom: 1.5rem;
            margin-top: 0.5rem;

            .submit-btn-container {
                height: 3rem;
            }
        }

        .image {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .contact-page {
        overflow-x: hidden;

        main {
            margin-top: 0rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title-container {
                margin: 2rem 0 0 0;
            }


            .container {
                width: 80%;
                padding: 20px;
                margin: 2rem 0rem;

                .form-group {
                    .form-column {
                        width: 95%;
                    }
                }

                .submit-btn-container {
                    margin: 1rem;
                    align-items: center;
                }

            }
        }
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;

        .form-column {
            width: 100%;
            margin: 0;
        }
    }

    .image {
        display: none;
    }


}







@media (max-width: 360px) {



    .contact-page {

        main {


            .container {
                padding: 10px;
                margin: 2rem;

                .form-group {
                    .form-column {
                        width: 88%;
                    }
                }
            }

            .image {
                display: none;
            }

            .bottom-border::after {
                content: '';
            }
        }
    }
}