.section__main {
  padding-left: 3em;
}

.container__main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.div__main__left {
  width: 50%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;

  .text__position {
    padding-top: 10em;
    padding-bottom: 10em;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
  }

  .text__lorem {
    color: black;
    text-align: justify;
    line-height: 2rem;
    letter-spacing: 0.05em;
    width: 60%;
  }
}

.btn__position {
  display: flex;
  flex-direction: row;

  p {
    padding: 0 1rem;
  }
}

.div__main__right {
  position: relative;
  width: 50%;
  padding-right: 0;

  img {
    position: fixed;
    width: 65vw;
    height: 65vh;
    overflow: hidden;
  }
}
