header {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;

  img {
    width: 50%;
  }
}

.header__nav {
  display: flex;
  justify-content: left;
  align-items: center;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    li,
    a {
      text-decoration: none;
      color: #3dad5c;
    }
  }
}
