.title-scndpage {
  border: 1px solid green;
  height: 20%;
}



.main-scndpage {
  height: 80%;
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  padding: 5em 0em;

  &__bloc {
    border: 1px solid yellow;
    margin: 0em 8em;
    height: 80em;
    display: flex;
    flex-direction: column;
    align-items: center;





    &--leftbloc {
      border: 1px solid blue;
    }

    &--middlebloc {
      border: 1px solid blue;


    }

    &--rightbloc {}
  }
}