.body_scndpage {
	overflow: hidden;
	margin: 0;
}


.realmain-scndpage {
	@media(max-width: 360px) {
		margin: 0;
	}

	.title-scndpage {
		// mettre une espace à gauche du titre pour mieux le placer
		padding-left: 10rem;

		h1 {
			// enlever l'espace par default lié au prorpiété de h1
			margin-bottom: 0;
		}
	}

	.main-scndpage {
		margin: 0em 10em;
		display: flex;
		// repartition égale horizontalement entre les 3 blocs
		justify-content: space-evenly;

		&__bloc {
			//mixin pour le format bloc
			@include bloc_mode-emploi;

			&--leftbloc,
			&--rightbloc {
				// espace au dessus des blocs gauche et droit pour aligner avec le bloc central
				margin-top: 2rem;
			}

			&--middlebloc {
				@include bloc_mode-emploi;
				//réaplication du mixin, problème de spécificité sinon
				border: 1em solid transparent;
				border-radius: 2rem;
				box-shadow: 0px 0px 20px -10px black;
				//s'assurer que le bloc soit devant les images
				z-index: 1;
				margin: 0;
			}
		}

		&__imgbloc {
			//bloc du milieu comprenant les images
			position: relative;
			z-index: 0;

			&--bottomleft,
			&--topright {
				position: absolute;
				//s'assurer que ces images oient bien en arrière plan
				z-index: -1;
				width: 10rem;
			}

			&--bottomleft {
				bottom: 0;
				left: 0;
			}

			&--topright {
				top: 0;
				right: 0;
			}

			//div englobant le bloc central et son img ellipse verte en haut à droite
			&__front {
				z-index: 0;
				position: relative;
				//margins particulières pour positionner correctement les images
				margin: 2.5rem 7rem 3rem 3.5rem;

				//image ellipse verte en haut à droite du bloc central
				&--ellipse {
					z-index: 2;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
}




//dimensions pour phone et tablette

@media (max-width:768px) {


	.realmain-scndpage {
		position: relative;
		margin-top: 0rem;

		.title-scndpage {
			padding-left: 1rem;
		}

		.main-scndpage {
			margin: 0;
			padding-bottom: 0;
			scroll-snap-type: x mandatory;
			overflow-x: scroll;
			scrollbar-width: none;

			&__bloc {

				&--leftbloc,
				&--rightbloc {
					margin-top: 0;
				}

				&--middlebloc {
					border-radius: 0;
					box-shadow: none;
					margin: 0;
				}
			}

			//div englobant le bloc du milieu et les images
			&__imgbloc {

				&--bottomleft,
				&--topright {
					display: none;
				}

				//div englobant le bloc central et son img ellipse verte en haut à droite
				&__front {
					margin: 0;
					display: flex;

					//image ellipse verte en haut à droite du bloc central
					&--ellipse {
						display: none;
					}
				}
			}
		}
	}
}